{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
  
   
   {{ include('back/post/_form.html.twig') }}

     <a href="{{ path('back_post_index') }} class="btn btn-outline-info">back to list</a>
{% endblock %}
