// Light theme colors : 

$lightFooterColor: #3b4a61;
$lightColor: #efefef;
$gradientLightLeft : #34e4da; 
$gradientLightRight : #235db8;
$fontColorDark: rgb(77, 80, 100);

// Dark theme colors : 

$darkFooterColor: #141b26;
$darkColor : #2d3d56;
$gradientDarkLeft : #000003;
$gradientDarkRight : #162550;
$cardsDarkColor: #273142;

// Main colors

$buttonColor : #8c52ff;

// Main sizes

$headerHeight : 19rem;
$footerHeight : 11rem;
$pageTitleSize: 1.8rem;

