{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
  

   {{ include('back/comment/_form.html.twig') }} 

    <a href="{{ path('back_comment_index') }}" class="btn btn-outline-info">back to list</a>
{% endblock %}
